:root {
  --text-primary: #111827;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #efefef;
}

::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 7px;
  border: 2px solid transparent;
  background-clip: content-box;
} */

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
